.header{
    width: 100%;
    display:flex; 
    justify-content: space-between;
}

.headerCon{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #294f6d;
}
.iconCon{

    padding-right: 10px;
}
.logo{
    cursor:pointer;
}
.logo:hover{
    background-color:#36668ba1;  
}
.avatar{
    cursor:pointer;
}
