.heroCon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
  padding: 40px 40px 40px 50px;
}
.textCon {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  min-width: 300px;
  max-width: 500px;
}
