.contactForm{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
    gap: 1%;

}


p{
 align-items: flex-start;
   text-align:start;


}