

.tagBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 82px;
    color: white;
    border-radius: 5%;
    background: linear-gradient(0deg, rgba(99,138,168,1) 0%, rgba(11,48,77,1) 100%);
}